doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='./styles/admin.css' type='text/css')
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js") 
  title admin
div
  button(onclick='window.location.href="/admin"') Admin
div
  button(onclick='window.location.href="/"') Main
h2 База данных Пользователей
form(action="admin", method="get") 
  button Refresh
.Main_Container
  .Users_List
    h4 Лист Пользователей
      table 
        tr
          td №
          td Почта
          td Имя
          td Роль
        each User, i in Users
            tr
              td #{i+1}
              td #{JSON.stringify([i].Email)}
              td #{JSON.stringify([i].Name)}
              td #{JSON.stringify([i].Role)}
              td 
  .Current_User_Info
    h4 Подробная Информация
    .Fields
      p Имя
      p Почта
      p Пароль
      p Дата Регистрации
      p Покупки
      p Скидка
      p Роль
    form(action="", method="get")
  .AdminMenu
    h4 Панель Администратора
       

