doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='ico' href='/favicon.ico' type='image/x-icon')
  link(rel="stylesheet", href="./index.css")
  title Borcelle
header
  a(href='/')
    img.Logo(src='/Resources/Logo.jpg')
  .HeaderText
    a(href='/')
      h1 Borcelle
  .UserArea(onclick="location.href='/Account'")
    .Icon
      a(href='/Account')
        img(src='Resources/user_icon.png' style='width: 30px;height: 30px;')
    .User_Profile
      .UserName
        a(href='/Account')
  .Buttons
    div
      button.Register(onclick="window.location.href='/users/register'")
        a Зарегистрироваться
    div
      button.Login(onclick="window.location.href='/users/login'")
        a Войти
body
.Main_Content
  .Container_1
    .Container_1_Text
      a Текст
    .Container_1_img
      img(src='')
footer
  .div_footer_logo
    img.logo_footer(src='Resources/Logo.jpg')
  .Container_1_footer
    a Прейскурант 
    a Местонахождение 
    a Время работ 
  .SocialURLS
    .Footer_Container
      a(href='https://www.instagram.com/olvaesss/' value='')
        img.Contact_Pic(src='Resources/InstagramPicture.png')
      a(href='https://t.me/ZXCghoulHR' value='')
        img.Contact_Pic(src='Resources/TelegramPicture.png')
      a(href='https://discordapp.com/users/425236850232524801/' value='')
        img.Contact_Pic(src='Resources/DiscordPicture.png')