doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='../styles/UserPage.css' type='text/css')
  title Account
header
  .go_button
    button.btn(onclick="location.href='/'") На главную;
  .ExitAccount
    button.btn(onclick="location.href='/'") Выйти из аккаунта
.Main_Container
  div
  div
footer
